@page "/vehiculo"
<PageTitle>Vehiculos</PageTitle>
<h1>Listados de Vehiculos</h1>
<style>
label{
    border-radius: 3px red solid;
}
</style>
<br>
<div id= "Comp">
<label for="txtMarca" >Marca</label>
<input type="text" name="txtMarca" id="txtMarca">
<label for="txtModelo">Modelo</label>
<input  type="text" name="txtModelo" id="txtModelo">
<label for="txtColor">Color</label>
<input  type="text" name="txtColor" id="txtColor">
<label for="txtColor">Año</label>
<input  type="text" name="txtAno" id="txtAno">
</div>
<br>
<br>
<br>
<hr>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Año</th>
        </tr>
    </thead>
</table>