@page "/vehiculo"
<PageTitle>Vehiculos</PageTitle>
<h1>Resgitro de Vehiculos</h1>

<br>
<label for="txtMarca" >Marca</label>
<input type="text" name="txtMarca" id="txtMarca">
<label for="txtModelo">Modelo</label>
<input  type="text" name="txtModelo" id="txtModelo">
<label for="txtColor">Color</label>
<input  type="text" name="txtColor" id="txtColor">
<label for="txtColor">Año</label>
<input  type="text" name="txtAno" id="txtAno">
<button type="button">Guardar</button>
<br>
<br>
<br>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Año</th>
        </tr>
    </thead>
</table>

@code{
    
}